In [452]:
#Importing the required libraries.

import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import scipy
%matplotlib inline

pd.set_option("display.max_columns", 500)

In [453]:
# Loading the data onto our dataframe.
df = pd.read_csv("Melbourne_housing_FULL.csv")

In [454]:
df.head()

       Suburb             Address  Rooms Type      Price Method SellerG       Date  Distance  Postcode  Bedroom2  Bathroom  Car  Landsize  BuildingArea  YearBuilt         CouncilArea  Lattitude  Longtitude             Regionname  Propertycount
0  Abbotsford       68 Studley St      2    h        NaN     SS  Jellis  3/09/2016       2.5    3067.0       2.0       1.0  1.0     126.0           NaN        NaN  Yarra City Council   -37.8014    144.9958  Northern Metropolitan         4019.0
1  Abbotsford        85 Turner St      2    h  1480000.0      S  Biggin  3/12/2016       2.5    3067.0       2.0       1.0  1.0     202.0           NaN        NaN  Yarra City Council   -37.7996    144.9984  Northern Metropolitan         4019.0
2  Abbotsford     25 Bloomburg St      2    h  1035000.0      S  Biggin  4/02/2016       2.5    3067.0       2.0       1.0  0.0     156.0          79.0     1900.0  Yarra City Council   -37.8079    144.9934  Northern Metropolitan         4019.0
3  Abbotsford  18/659 Victoria St      3    u        NaN     VB  Rounds  4/02/2016       2.5    3067.0       3.0       2.0  1.0       0.0           NaN        NaN  Yarra City Council   -37.8114    145.0116  Northern Metropolitan         4019.0
4  Abbotsford        5 Charles St      3    h  1465000.0     SP  Biggin  4/03/2017       2.5    3067.0       3.0       2.0  0.0     134.0         150.0     1900.0  Yarra City Council   -37.8093    144.9944  Northern Metropolitan         4019.0

In [455]:
# Observing the data before preprocessing.
print(f"Row x Column of the dataset: {df.shape}",end="\n\n")
print(f"Total number of elements in the dataset: {df.size}",end="\n\nInfo about the Dataset:\n")
print(df.info())
print(f"Maximum price of a residence: {df.Price.max()}")
print(f"Minimum price of a residence: {df.Price.min()}")

Row x Column of the dataset: (34857, 21)

Total number of elements in the dataset: 731997

Info about the Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB
None
Maximum price of a residence: 11200000.0
Minimum price of a residence: 85000.0

In [456]:
# Descriptive statistics of the dataset
print(f"Descriptive statistics of the dataset:")
df.describe()

Descriptive statistics of the dataset:

              Rooms         Price      Distance      Postcode      Bedroom2      Bathroom           Car       Landsize  BuildingArea     YearBuilt     Lattitude    Longtitude  Propertycount
count  34857.000000  2.724700e+04  34856.000000  34856.000000  26640.000000  26631.000000  26129.000000   23047.000000   13742.00000  15551.000000  26881.000000  26881.000000   34854.000000
mean       3.031012  1.050173e+06     11.184929   3116.062859      3.084647      1.624798      1.728845     593.598993     160.25640   1965.289885    -37.810634    145.001851    7572.888306
std        0.969933  6.414671e+05      6.788892    109.023903      0.980690      0.724212      1.010771    3398.841946     401.26706     37.328178      0.090279      0.120169    4428.090313
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000      0.000000      0.000000       0.000000       0.00000   1196.000000    -38.190430    144.423790      83.000000
25%        2.000000  6.350000e+05      6.400000   3051.000000      2.000000      1.000000      1.000000     224.000000     102.00000   1940.000000    -37.862950    144.933500    4385.000000
50%        3.000000  8.700000e+05     10.300000   3103.000000      3.000000      2.000000      2.000000     521.000000     136.00000   1970.000000    -37.807600    145.007800    6763.000000
75%        4.000000  1.295000e+06     14.000000   3156.000000      4.000000      2.000000      2.000000     670.000000     188.00000   2000.000000    -37.754100    145.071900   10412.000000
max       16.000000  1.120000e+07     48.100000   3978.000000     30.000000     12.000000     26.000000  433014.000000   44515.00000   2106.000000    -37.390200    145.526350   21650.000000

In [457]:
# Clearing the duplicate data and starting the preprocess.
df.drop_duplicates(keep="first")
# There's no duplicate entries.
df.head(3)

       Suburb          Address  Rooms Type      Price Method SellerG       Date  Distance  Postcode  Bedroom2  Bathroom  Car  Landsize  BuildingArea  YearBuilt         CouncilArea  Lattitude  Longtitude             Regionname  Propertycount
0  Abbotsford    68 Studley St      2    h        NaN     SS  Jellis  3/09/2016       2.5    3067.0       2.0       1.0  1.0     126.0           NaN        NaN  Yarra City Council   -37.8014    144.9958  Northern Metropolitan         4019.0
1  Abbotsford     85 Turner St      2    h  1480000.0      S  Biggin  3/12/2016       2.5    3067.0       2.0       1.0  1.0     202.0           NaN        NaN  Yarra City Council   -37.7996    144.9984  Northern Metropolitan         4019.0
2  Abbotsford  25 Bloomburg St      2    h  1035000.0      S  Biggin  4/02/2016       2.5    3067.0       2.0       1.0  0.0     156.0          79.0     1900.0  Yarra City Council   -37.8079    144.9934  Northern Metropolitan         4019.0

In [458]:
print(f"Missing values in the dataset:",end=f"\n{df.isnull().sum()}")

Missing values in the dataset:
Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [459]:
df.describe()

              Rooms         Price      Distance      Postcode      Bedroom2      Bathroom           Car       Landsize  BuildingArea     YearBuilt     Lattitude    Longtitude  Propertycount
count  34857.000000  2.724700e+04  34856.000000  34856.000000  26640.000000  26631.000000  26129.000000   23047.000000   13742.00000  15551.000000  26881.000000  26881.000000   34854.000000
mean       3.031012  1.050173e+06     11.184929   3116.062859      3.084647      1.624798      1.728845     593.598993     160.25640   1965.289885    -37.810634    145.001851    7572.888306
std        0.969933  6.414671e+05      6.788892    109.023903      0.980690      0.724212      1.010771    3398.841946     401.26706     37.328178      0.090279      0.120169    4428.090313
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000      0.000000      0.000000       0.000000       0.00000   1196.000000    -38.190430    144.423790      83.000000
25%        2.000000  6.350000e+05      6.400000   3051.000000      2.000000      1.000000      1.000000     224.000000     102.00000   1940.000000    -37.862950    144.933500    4385.000000
50%        3.000000  8.700000e+05     10.300000   3103.000000      3.000000      2.000000      2.000000     521.000000     136.00000   1970.000000    -37.807600    145.007800    6763.000000
75%        4.000000  1.295000e+06     14.000000   3156.000000      4.000000      2.000000      2.000000     670.000000     188.00000   2000.000000    -37.754100    145.071900   10412.000000
max       16.000000  1.120000e+07     48.100000   3978.000000     30.000000     12.000000     26.000000  433014.000000   44515.00000   2106.000000    -37.390200    145.526350   21650.000000

In [460]:
cols = list(df.describe().columns)
cols.remove("Postcode")
cols.remove("Lattitude")
cols.remove("Longtitude")

# Z-Score Function.
def Zscore_outlier(df, out):
    m = np.mean(df)
    sd = np.std(df)
    for i in df: 
        z = (i-m)/sd
        if np.abs(z) > 3: 
            out.append(i)
    print(f"Number of outliers for feature {df.name}: {len(out)}")
    print("Outliers:",out)

for col in cols:
    out=[]
    Zscore_outlier(df[col], out)

Number of outliers for feature Rooms: 269
Outliers: [6, 7, 6, 6, 6, 6, 8, 6, 6, 7, 7, 6, 7, 6, 6, 6, 7, 6, 6, 10, 6, 6, 9, 7, 6, 7, 10, 6, 6, 6, 8, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 8, 6, 8, 7, 6, 6, 6, 6, 8, 6, 6, 9, 6, 8, 10, 6, 12, 6, 6, 6, 6, 8, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 8, 6, 6, 6, 6, 8, 8, 12, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 8, 10, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 6, 6, 7, 6, 7, 6, 10, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 9, 6, 6, 6, 6, 6, 7, 6, 6, 8, 6, 9, 6, 6, 6, 6, 6, 7, 6, 6, 8, 8, 6, 7, 7, 6, 6, 6, 8, 6, 8, 6, 6, 6, 6, 10, 7, 6, 6, 16, 7, 7, 6, 8, 6, 6, 6, 7, 6, 6, 12, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 7, 7, 6, 6, 6, 7, 6, 6, 6, 7, 6, 6, 6, 6, 6]
Number of outliers for feature Price: 474
Outliers: [3010000.0, 4735000.0, 3755000.0, 3625000.0, 3000000.0, 5525000.0, 3660000.0, 3625000.0, 4200000.0, 3512500.0, 3510000.0, 3250000.0, 4000000.0, 4260000.0, 4350000.0, 3180000.0, 3600000.0, 3350000.0, 3270000.0, 3000000.0, 3400000.0, 3290000.0, 4600000.0, 3401000.0, 4000000.0, 3020000.0, 3900000.0, 3230000.0, 3300000.0, 3250000.0, 3690000.0, 3300000.0, 3000000.0, 3360000.0, 4000000.0, 4000000.0, 3695000.0, 3700000.0, 3775000.0, 4250000.0, 3171000.0, 3180000.0, 3320000.0, 4700000.0, 3295888.0, 4375000.0, 3700000.0, 3900000.0, 3050000.0, 5250000.0, 3085000.0, 3580000.0, 3550000.0, 3751000.0, 3105000.0, 3207000.0, 3225000.0, 3165000.0, 3360000.0, 3775000.0, 4440000.0, 4760000.0, 3150000.0, 3000000.0, 3400000.0, 3300000.0, 3225000.0, 3320000.0, 3710000.0, 3250000.0, 4110000.0, 4350000.0, 3800000.0, 3550000.0, 3400000.0, 4500000.0, 3145000.0, 5110000.0, 3010000.0, 3000000.0, 3572000.0, 3310000.0, 4011000.0, 3400000.0, 3400000.0, 3730000.0, 3110000.0, 3500000.0, 2975000.0, 3000000.0, 3085000.0, 3860000.0, 3010000.0, 3365000.0, 3250000.0, 3200000.0, 3470000.0, 3075000.0, 3201000.0, 2980000.0, 3325000.0, 5100000.0, 3225000.0, 3950000.0, 4250000.0, 3500000.0, 4300000.0, 5050000.0, 3750000.0, 3120000.0, 4800000.0, 6240000.0, 4350000.0, 3820000.0, 3700000.0, 3550000.0, 3620000.0, 4850000.0, 6500000.0, 3800000.0, 3130000.0, 3650000.0, 3280000.0, 3000000.0, 4005000.0, 3500000.0, 4501000.0, 3065000.0, 3028000.0, 3850000.0, 3460000.0, 3800000.0, 4700000.0, 3010000.0, 3400000.0, 4240000.0, 4525000.0, 3470000.0, 5075000.0, 4940000.0, 4980000.0, 4802500.0, 3120000.0, 3900000.0, 3420000.0, 4300000.0, 3850000.0, 3210000.0, 3705000.0, 3335000.0, 3200000.0, 3020000.0, 3001000.0, 5700000.0, 3000000.0, 4700000.0, 5046000.0, 4400000.0, 4750000.0, 4300000.0, 5500000.0, 5500000.0, 4000000.0, 3850000.0, 4000000.0, 6250000.0, 4500000.0, 5020000.0, 3500000.0, 4000000.0, 4200000.0, 3260000.0, 5000000.0, 3270000.0, 3130000.0, 3900000.0, 4525000.0, 3520000.0, 3350000.0, 3100000.0, 3050000.0, 3210000.0, 3310000.0, 3500000.0, 3020000.0, 3850000.0, 3350000.0, 3390000.0, 5800000.0, 4225000.0, 3110000.0, 3025000.0, 3600000.0, 3550000.0, 5020000.0, 2990000.0, 3850000.0, 3115000.0, 8000000.0, 3725000.0, 3450000.0, 3050000.0, 3310000.0, 4700000.0, 3750000.0, 3600000.0, 3020000.0, 3800000.0, 4515000.0, 3160000.0, 3200000.0, 2990000.0, 3970000.0, 3000000.0, 3475000.0, 4275000.0, 3805000.0, 3600000.0, 5733000.0, 5200000.0, 3050000.0, 3250000.0, 4100000.0, 3100000.0, 3050000.0, 5510000.0, 3335000.0, 4900000.0, 5600000.0, 3200000.0, 3100000.0, 3050000.0, 3056000.0, 7650000.0, 3255000.0, 3175000.0, 3900000.0, 6460000.0, 3750000.0, 5925000.0, 3200000.0, 3275000.0, 3100000.0, 3150000.0, 3001000.0, 3600000.0, 3650000.0, 3000000.0, 5300000.0, 3225000.0, 3400000.0, 4750000.0, 3399000.0, 3900000.0, 3200500.0, 3750000.0, 3000000.0, 4100000.0, 4600000.0, 3560000.0, 3000000.0, 4050000.0, 3190000.0, 3250000.0, 3175000.0, 3200000.0, 3400000.0, 4050000.0, 4050000.0, 3000000.0, 4200000.0, 3350000.0, 3825000.0, 3812000.0, 3300000.0, 3015000.0, 9000000.0, 5100000.0, 5500000.0, 4125000.0, 4060000.0, 3950000.0, 3060000.0, 3400000.0, 4350000.0, 3775000.0, 3100000.0, 3130000.0, 3000000.0, 3200000.0, 3100000.0, 3000000.0, 6400000.0, 3625000.0, 6800000.0, 3778000.0, 3575000.0, 5065000.0, 5580000.0, 3400000.0, 3270000.0, 3851000.0, 3100000.0, 3900000.0, 4000000.0, 2990000.0, 3500000.0, 3000000.0, 3600000.0, 3610000.0, 3200000.0, 3155000.0, 4060000.0, 3000000.0, 3200000.0, 5770000.0, 3350000.0, 3300000.0, 3450000.0, 3080000.0, 3610000.0, 3400000.0, 4500000.0, 3100000.0, 3870000.0, 3220000.0, 3600000.0, 3600000.0, 4550000.0, 3050000.0, 6370000.0, 3250000.0, 4110000.0, 3300000.0, 3350000.0, 3888000.0, 3120000.0, 3450000.0, 3100000.0, 3501000.0, 6500000.0, 5600000.0, 3250000.0, 3445000.0, 3550000.0, 6050000.0, 3320000.0, 3225000.0, 4690000.0, 11200000.0, 3820000.0, 3850000.0, 5410000.0, 3600000.0, 5450000.0, 4620000.0, 3025000.0, 3100000.0, 3935000.0, 3650000.0, 5355000.0, 3800000.0, 6125000.0, 5100000.0, 5000000.0, 2980000.0, 4600000.0, 3000000.0, 3340000.0, 3650000.0, 3000000.0, 3200000.0, 4400000.0, 3010000.0, 3075000.0, 6400000.0, 5650000.0, 4050000.0, 3160000.0, 3300000.0, 5150000.0, 3210000.0, 3320000.0, 3230000.0, 4125000.0, 3630000.0, 3200000.0, 4500000.0, 3525500.0, 3385000.0, 3276000.0, 3500000.0, 3075000.0, 7000000.0, 3000000.0, 3780000.0, 3600000.0, 4508000.0, 5460000.0, 3600000.0, 3200000.0, 3250000.0, 4500000.0, 3350000.0, 3680000.0, 3700000.0, 3250000.0, 3030000.0, 4020000.0, 4600000.0, 5500000.0, 3100000.0, 3825000.0, 3680000.0, 3080000.0, 3100000.0, 4515000.0, 3520000.0, 3460000.0, 5200000.0, 3923000.0, 3700000.0, 3100000.0, 5200000.0, 3275000.0, 3923000.0, 6600000.0, 3400000.0, 4111000.0, 4000000.0, 3720000.0, 3590000.0, 3845000.0, 5700000.0, 3800000.0, 3680000.0, 4700000.0, 3150000.0, 3300000.0, 3030000.0, 3400000.0, 3200000.0, 4600000.0, 3000000.0, 5250000.0, 6000000.0, 3040000.0, 3500000.0, 3120000.0, 3575000.0, 3350000.0, 3300000.0, 3900000.0, 4510000.0, 5040000.0, 6300000.0, 3050000.0, 3600000.0, 3300000.0, 4800000.0, 3250000.0, 4250000.0, 4350000.0, 3100000.0, 3800000.0, 2990000.0, 4630000.0, 3950000.0, 3789000.0, 4650000.0, 3680000.0, 5575000.0, 3750000.0, 3250000.0]
Number of outliers for feature Distance: 792
Outliers: [35.2, 43.4, 34.7, 36.9, 38.0, 38.0, 38.0, 36.9, 38.0, 38.0, 45.9, 32.3, 45.2, 33.8, 31.7, 31.7, 31.7, 34.1, 34.1, 34.1, 35.4, 35.4, 35.4, 34.7, 31.7, 31.7, 31.7, 31.7, 38.0, 38.0, 38.0, 36.9, 32.3, 31.7, 31.7, 31.7, 31.7, 34.1, 47.3, 35.4, 31.7, 31.7, 35.2, 34.9, 34.9, 34.7, 34.7, 38.0, 38.0, 45.9, 45.9, 32.3, 41.0, 31.7, 31.7, 47.4, 35.4, 34.7, 31.7, 39.8, 35.2, 34.9, 34.9, 37.5, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 33.3, 31.7, 31.6, 34.1, 34.1, 47.3, 47.4, 47.4, 34.7, 35.4, 35.4, 35.4, 35.4, 34.6, 31.7, 31.7, 31.7, 31.7, 44.2, 35.2, 35.2, 35.2, 34.9, 34.9, 43.4, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 45.9, 33.3, 31.7, 31.7, 34.1, 47.3, 35.4, 35.4, 35.4, 34.6, 31.7, 31.7, 37.5, 35.2, 35.2, 34.9, 34.7, 38.0, 38.0, 32.3, 33.3, 33.3, 41.0, 31.7, 31.7, 35.4, 35.4, 31.7, 31.7, 31.7, 31.7, 35.2, 45.9, 34.9, 34.7, 34.7, 34.7, 38.0, 38.0, 38.0, 45.9, 31.7, 41.0, 41.0, 31.7, 31.7, 34.1, 31.7, 44.2, 34.9, 43.4, 38.0, 38.0, 38.0, 38.0, 45.9, 45.9, 31.7, 34.1, 34.1, 43.3, 47.3, 47.3, 35.4, 35.4, 35.4, 35.4, 39.0, 35.2, 35.2, 38.0, 38.0, 36.9, 38.0, 38.0, 31.7, 31.7, 41.0, 41.0, 31.7, 31.7, 47.3, 47.3, 47.3, 31.7, 31.7, 31.7, 39.0, 39.0, 39.0, 39.0, 35.2, 35.2, 34.9, 34.7, 36.9, 38.0, 38.0, 38.0, 38.0, 38.0, 36.9, 38.0, 31.7, 41.0, 31.7, 34.1, 34.1, 35.4, 35.4, 31.7, 31.7, 31.7, 31.7, 31.7, 35.5, 35.2, 35.2, 35.2, 38.0, 38.0, 38.0, 38.0, 38.0, 36.9, 38.0, 38.0, 41.0, 31.7, 31.7, 31.7, 31.7, 34.1, 48.1, 31.7, 31.7, 31.7, 31.7, 38.0, 36.9, 38.0, 38.0, 45.9, 45.9, 39.0, 35.4, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 35.2, 34.9, 34.9, 34.9, 38.0, 38.0, 38.0, 38.0, 38.0, 45.9, 45.9, 45.9, 45.9, 32.3, 31.7, 31.7, 34.1, 34.1, 34.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 44.2, 44.2, 44.2, 35.2, 35.2, 34.7, 38.0, 38.0, 38.0, 33.3, 31.7, 31.6, 34.1, 47.3, 35.4, 31.7, 31.7, 31.7, 31.7, 35.5, 39.8, 35.2, 35.2, 34.9, 38.0, 38.0, 38.0, 31.7, 41.0, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 34.1, 48.1, 48.1, 48.1, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 34.9, 34.9, 34.9, 34.7, 38.0, 36.9, 38.0, 38.0, 38.0, 38.0, 38.0, 33.3, 33.3, 41.0, 41.0, 31.7, 31.7, 34.1, 35.4, 35.4, 35.4, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 37.5, 35.2, 35.2, 34.7, 34.7, 38.0, 38.0, 38.0, 38.0, 38.0, 36.9, 36.9, 38.0, 38.0, 38.0, 45.9, 32.3, 32.3, 41.0, 41.0, 31.7, 31.7, 31.7, 31.7, 31.6, 34.1, 43.3, 35.4, 34.7, 31.7, 31.7, 31.7, 31.7, 31.7, 36.9, 35.2, 38.0, 38.0, 38.0, 38.0, 36.9, 38.0, 38.0, 38.0, 45.9, 45.9, 32.3, 31.7, 31.7, 31.7, 43.3, 47.3, 47.3, 35.4, 35.4, 31.7, 31.7, 31.7, 31.7, 31.7, 35.2, 35.2, 34.9, 38.0, 38.0, 36.9, 31.7, 31.7, 31.7, 31.7, 31.7, 35.4, 35.4, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 44.2, 44.2, 37.5, 35.2, 35.2, 35.2, 35.2, 35.2, 34.9, 34.7, 34.7, 34.7, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 45.9, 32.3, 31.7, 31.7, 31.7, 33.8, 31.7, 31.7, 31.7, 34.1, 47.3, 34.7, 35.4, 35.4, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 44.2, 36.9, 34.1, 35.2, 38.0, 38.0, 41.0, 31.7, 31.7, 44.2, 37.5, 35.2, 35.2, 35.2, 45.9, 45.9, 34.7, 34.7, 38.0, 38.0, 38.0, 45.9, 31.7, 31.7, 31.7, 31.7, 31.7, 35.4, 35.4, 31.7, 31.7, 31.7, 31.7, 35.2, 35.2, 34.7, 45.9, 34.9, 33.0, 38.0, 38.0, 38.0, 38.0, 38.0, 36.9, 38.0, 38.0, 38.0, 45.9, 45.2, 37.5, 31.7, 48.1, 47.3, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 44.2, 39.0, 35.2, 34.9, 34.7, 37.5, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 36.9, 38.0, 38.0, 38.0, 45.9, 31.7, 31.7, 41.0, 31.7, 31.7, 31.7, 31.7, 31.7, 47.3, 47.4, 47.4, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 35.2, 35.2, 34.7, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 45.9, 45.9, 45.9, 31.7, 31.7, 41.0, 41.0, 31.7, 31.7, 31.7, 31.7, 48.1, 47.4, 35.4, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 44.2, 44.2, 44.2, 35.2, 34.7, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 36.9, 36.9, 38.0, 38.0, 38.0, 38.0, 32.3, 31.7, 31.7, 31.7, 43.3, 47.3, 47.3, 35.4, 35.4, 34.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 35.5, 35.5, 35.2, 36.9, 38.0, 38.0, 38.0, 38.0, 31.7, 31.7, 34.1, 35.4, 35.2, 34.9, 43.4, 34.7, 38.0, 38.0, 31.7, 31.6, 34.1, 34.1, 34.1, 34.7, 35.4, 31.7, 31.7, 31.7, 31.7, 44.2, 35.4, 44.2, 44.2, 38.0, 34.9, 34.9, 34.9, 34.9, 38.0, 38.0, 38.0, 45.9, 45.9, 31.7, 41.0, 31.7, 47.3, 47.4, 35.4, 35.4, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 35.2, 35.2, 35.2, 38.0, 43.3, 47.3, 31.7, 31.7, 31.7, 38.0, 38.0, 38.0, 45.9, 31.7, 31.7, 31.7, 31.7, 34.1, 47.3, 47.3, 31.7, 31.7, 31.7, 31.7, 31.7, 44.2, 44.2, 35.2, 34.9, 43.4, 34.7, 34.7, 38.0, 38.0, 38.0, 38.0, 45.9, 45.9, 31.7, 34.1, 43.3, 35.4, 35.4, 35.4, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 44.2, 35.2, 45.9, 34.9, 34.9, 34.7, 38.0, 38.0, 38.0, 31.7, 31.7, 31.7, 32.6, 35.4, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 31.7, 44.2]
Number of outliers for feature Bedroom2: 73
Outliers: [7.0, 0.0, 8.0, 9.0, 7.0, 7.0, 7.0, 7.0, 0.0, 0.0, 0.0, 9.0, 7.0, 30.0, 7.0, 0.0, 0.0, 7.0, 8.0, 8.0, 0.0, 9.0, 0.0, 0.0, 0.0, 9.0, 0.0, 20.0, 0.0, 8.0, 8.0, 0.0, 7.0, 0.0, 7.0, 0.0, 8.0, 0.0, 7.0, 8.0, 7.0, 0.0, 7.0, 10.0, 7.0, 7.0, 9.0, 7.0, 8.0, 7.0, 8.0, 8.0, 7.0, 7.0, 8.0, 8.0, 10.0, 7.0, 16.0, 7.0, 7.0, 8.0, 7.0, 12.0, 10.0, 10.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0]
Number of outliers for feature Bathroom: 371
Outliers: [7.0, 4.0, 4.0, 7.0, 5.0, 4.0, 5.0, 5.0, 4.0, 5.0, 6.0, 4.0, 5.0, 4.0, 7.0, 4.0, 4.0, 4.0, 5.0, 4.0, 5.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 6.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 12.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 5.0, 5.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 6.0, 4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 8.0, 4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 6.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, 4.0, 5.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 5.0, 5.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 8.0, 6.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 5.0, 4.0, 4.0, 4.0, 5.0, 5.0, 5.0, 4.0, 4.0, 4.0, 5.0, 5.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 5.0, 5.0, 6.0, 5.0, 4.0, 4.0, 5.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 9.0, 4.0, 6.0, 4.0, 8.0, 4.0, 6.0, 4.0, 4.0, 4.0, 4.0, 4.0, 6.0, 4.0, 4.0, 5.0, 5.0, 5.0, 4.0, 6.0, 6.0, 4.0, 4.0, 4.0, 6.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 6.0, 4.0, 4.0, 4.0, 5.0, 5.0, 4.0, 4.0, 6.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 7.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 5.0, 6.0, 5.0, 5.0, 4.0, 4.0, 6.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 5.0, 4.0, 5.0, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0]
Number of outliers for feature Car: 353
Outliers: [6.0, 5.0, 6.0, 6.0, 5.0, 5.0, 8.0, 7.0, 5.0, 6.0, 6.0, 5.0, 5.0, 6.0, 6.0, 5.0, 5.0, 6.0, 6.0, 5.0, 6.0, 5.0, 6.0, 6.0, 5.0, 11.0, 5.0, 8.0, 5.0, 7.0, 6.0, 5.0, 26.0, 5.0, 8.0, 6.0, 5.0, 5.0, 6.0, 5.0, 5.0, 8.0, 8.0, 6.0, 5.0, 5.0, 7.0, 5.0, 6.0, 6.0, 6.0, 5.0, 5.0, 5.0, 7.0, 5.0, 5.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 5.0, 7.0, 5.0, 6.0, 7.0, 5.0, 7.0, 6.0, 8.0, 5.0, 7.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 9.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 10.0, 5.0, 5.0, 8.0, 6.0, 6.0, 6.0, 5.0, 8.0, 6.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0, 5.0, 7.0, 5.0, 6.0, 5.0, 6.0, 6.0, 6.0, 5.0, 6.0, 10.0, 6.0, 7.0, 5.0, 5.0, 6.0, 5.0, 6.0, 8.0, 6.0, 5.0, 5.0, 5.0, 5.0, 8.0, 5.0, 5.0, 8.0, 5.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 5.0, 6.0, 5.0, 5.0, 6.0, 6.0, 5.0, 8.0, 6.0, 5.0, 6.0, 6.0, 5.0, 6.0, 6.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 8.0, 6.0, 5.0, 6.0, 5.0, 5.0, 6.0, 6.0, 5.0, 5.0, 8.0, 6.0, 6.0, 5.0, 6.0, 10.0, 6.0, 5.0, 5.0, 6.0, 5.0, 5.0, 7.0, 7.0, 6.0, 6.0, 6.0, 5.0, 7.0, 6.0, 6.0, 6.0, 6.0, 8.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 6.0, 8.0, 5.0, 6.0, 18.0, 5.0, 6.0, 5.0, 8.0, 5.0, 7.0, 7.0, 6.0, 6.0, 6.0, 5.0, 5.0, 7.0, 7.0, 7.0, 5.0, 5.0, 5.0, 6.0, 5.0, 6.0, 7.0, 7.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 5.0, 5.0, 5.0, 5.0, 10.0, 6.0, 6.0, 8.0, 6.0, 6.0, 8.0, 5.0, 6.0, 6.0, 6.0, 5.0, 5.0, 6.0, 6.0, 8.0, 10.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 6.0, 8.0, 5.0, 10.0, 6.0, 8.0, 5.0, 5.0, 6.0, 5.0, 5.0, 6.0, 5.0, 6.0, 9.0, 5.0, 5.0, 5.0, 5.0, 7.0, 5.0, 6.0, 6.0, 12.0, 8.0, 7.0, 6.0, 6.0, 6.0, 5.0, 6.0, 5.0, 6.0, 6.0, 6.0, 5.0, 11.0, 6.0, 6.0, 5.0, 5.0, 5.0, 9.0, 5.0, 6.0, 6.0, 5.0, 5.0, 6.0, 6.0, 6.0, 6.0, 5.0, 6.0, 7.0, 5.0, 6.0, 6.0, 6.0, 5.0, 5.0, 7.0, 6.0, 6.0, 5.0]
Number of outliers for feature Landsize: 43
Outliers: [75100.0, 15900.0, 15100.0, 37000.0, 21700.0, 14545.0, 41400.0, 14500.0, 17200.0, 17200.0, 14500.0, 17200.0, 16000.0, 15900.0, 21715.0, 17200.0, 13733.0, 37000.0, 38490.0, 14196.0, 76000.0, 15946.0, 17200.0, 433014.0, 40468.0, 16000.0, 17200.0, 12300.0, 20200.0, 14294.0, 44500.0, 21600.0, 89030.0, 40468.0, 146699.0, 33000.0, 40469.0, 39300.0, 15600.0, 23970.0, 40500.0, 80000.0, 42800.0]
Number of outliers for feature BuildingArea: 9
Outliers: [6791.0, 3112.0, 1561.0, 3558.0, 3647.0, 4645.0, 44515.0, 2002.0, 6178.0]
Number of outliers for feature YearBuilt: 9
Outliers: [2106.0, 1830.0, 1850.0, 1850.0, 1850.0, 1850.0, 1800.0, 1196.0, 1820.0]
Number of outliers for feature Propertycount: 844

In [461]:
for col in cols:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3-q1
    Lower_tail = q1 - 1.5 * iqr
    Upper_tail = q3 + 1.5 * iqr
    med = np.median(df[col])
    for i in df[col]:
        if i > Upper_tail or i < Lower_tail:
                df[col] = df[col].replace(i, med)

In [462]:
# Z-Score Function.
def Zscore_outlier(df, out):
    m = np.mean(df)
    sd = np.std(df)
    for i in df: 
        z = (i-m)/sd
        if np.abs(z) > 3: 
            out.append(i)
    print(f"Number of outliers for feature {df.name}: {len(out)}")
    print("Outliers:",out)

for col in cols:
    out=[]
    Zscore_outlier(df[col], out)
# We have reduced the number of our outliers in the dataset.

Number of outliers for feature Rooms: 236
Outliers: [6, 7, 6, 6, 6, 6, 6, 6, 7, 7, 6, 7, 6, 6, 6, 7, 6, 6, 6, 6, 7, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 7, 7, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 7, 6, 6, 6, 6, 6, 6, 6, 7, 7, 6, 6, 6, 7, 6, 6, 6, 7, 6, 6, 6, 6, 6]
Number of outliers for feature Price: 45
Outliers: [2275000.0, 2255000.0, 2266000.0, 2275000.0, 2285000.0, 2260000.0, 2265000.0, 2265000.0, 2265000.0, 2273000.0, 2270000.0, 2260000.0, 2252000.0, 2260000.0, 2285000.0, 2255000.0, 2260000.0, 2275000.0, 2268000.0, 2260000.0, 2265000.0, 2270000.0, 2260000.0, 2265000.0, 2258000.0, 2285000.0, 2255000.0, 2260000.0, 2280000.0, 2270000.0, 2260000.0, 2260000.0, 2260000.0, 2280000.0, 2285000.0, 2260000.0, 2275000.0, 2285000.0, 2261000.0, 2280000.0, 2255000.0, 2280000.0, 2260000.0, 2275000.0, 2285000.0]
Number of outliers for feature Distance: 0
Outliers: []
Number of outliers for feature Bedroom2: 215
Outliers: [6.0, 6.0, 7.0, 0.0, 6.0, 6.0, 6.0, 6.0, 6.0, 7.0, 7.0, 6.0, 6.0, 7.0, 7.0, 6.0, 0.0, 0.0, 0.0, 6.0, 7.0, 6.0, 7.0, 6.0, 6.0, 6.0, 0.0, 0.0, 6.0, 6.0, 7.0, 6.0, 6.0, 0.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 0.0, 6.0, 6.0, 0.0, 0.0, 6.0, 6.0, 6.0, 6.0, 0.0, 6.0, 0.0, 6.0, 6.0, 6.0, 6.0, 6.0, 0.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 0.0, 6.0, 6.0, 6.0, 7.0, 0.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 0.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 7.0, 6.0, 0.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 7.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 7.0, 7.0, 6.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 7.0, 7.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 7.0, 6.0, 6.0, 6.0, 6.0]
Number of outliers for feature Bathroom: 0
Outliers: []
Number of outliers for feature Car: 0
Outliers: []
Number of outliers for feature Landsize: 33
Outliers: [1315.0, 1328.0, 1307.0, 1307.0, 1318.0, 1339.0, 1334.0, 1332.0, 1332.0, 1302.0, 1317.0, 1324.0, 1315.0, 1318.0, 1328.0, 1312.0, 1327.0, 1335.0, 1324.0, 1321.0, 1330.0, 1313.0, 1312.0, 1309.0, 1301.0, 1320.0, 1308.0, 1316.0, 1309.0, 1323.0, 1338.0, 1332.0, 1315.0]
Number of outliers for feature BuildingArea: 0
Outliers: []
Number of outliers for feature YearBuilt: 7
Outliers: [1854.0, 1850.0, 1850.0, 1850.0, 1850.0, 1854.0, 1855.0]
Number of outliers for feature Propertycount: 0
Outliers: []

In [463]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             8888
Method               0
SellerG              0
Date                 0
Distance          1468
Postcode             1
Bedroom2          8243
Bathroom          8597
Car              10242
Landsize         12404
BuildingArea     21739
YearBuilt        19311
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount      847
dtype: int64

In [464]:
for column in cols:
    df[column] = df[column].fillna(df[column].mode().iloc[0])
# Filled the null values.
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            1
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
YearBuilt           0
CouncilArea         3
Lattitude        7976
Longtitude       7976
Regionname          3
Propertycount       0
dtype: int64